{% extends 'layout.twig' %}

{% block body %}

  <div class="container-fluid fh">
    <div class="row fh">
      <div class="col-md-12 fh">
        <div class="row fh">
          <div class="col-md-2 fhwmb side-bar">
            <ul class="nav nav-tabs nav-justified">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Rooms</a>
              </li>
            </ul>

            <div class="tab-content card">
              <div class="tab-pane fade" id="panel1" role="tabpanel">
                <div id="contact-list" class="">
                  <div id="user-list">
                    <a href="?msg=15" class="chatperson">
                      <span class="chatimg">
                          <img src="http://via.placeholder.com/50x50?text=A" alt=""/>
                      </span>
                      <div class="namechat">
                        <div class="pname">Aperson name here</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="panel2" role="tabpanel">
                <p>room list</p>
              </div>
            </div>



          </div>

          </div>
          <div class="col-md-10 fhwmb main-content">
            {#Message window#}
            <div class="chat-container-inner">
              <div class="row chat-window">
                <div class="col-md-12">
                  <div class="chatbody">
                    <table id="messages" class="table">
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {#message bar#}
            <div class="col-md-2"></div>
            <div class="chat-container-form col-md-10">
              <form>
                <div class="row message-panel panel">
                  <div id="username" class="col-xs-12 col-sm-12 col-md-12"></div>
                  <div class="chat-msg-input col-xs-10 col-sm-10 col-md-10">
                    <input id="chat-message-input" type="text" placeholder="Start typing here..." class="form-control"
                           autocomplete="off"/>
                  </div>
                  <div class="chat-msg-input-submit col-xs-2 col-sm-2 col-md-2">
                    <button class="btn btn-info btn-block sbumit">Send</button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {# --SCRIPTS-- #}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/javascripts/client.js"></script>

{% endblock %}
<div id="user-list">
  <a href="?msg=15" class="chatperson">
    <span class="chatimg">
        <img src="http://via.placeholder.com/50x50?text=A" alt=""/>
    </span>
    <div class="namechat">
      <div class="pname">Aperson name here</div>
    </div>
  </a>
</div>