{% extends 'layout.twig' %}

{% block body %}
  <link rel='stylesheet' href='/stylesheets/intro.css' />

  <div class="container">
    <div class="col-lg-12">
      <h1>{{ title }}</h1>
      <p>Welcome to {{ title }}</p>
    </div>
    <div class="col-lg-12">
      <a class="button" href="#openModal">Sign in.</a>
    </div>
    <div class="col-lg-12">
      <a class="button" href="#openModalSignUp">Sign up</a>
    </div>
  </div>



  {#

  Modal Windows

  #}
  <div id="openModal" class="modalbg">
    <div class="dialog">
      <a href="#close" title="Close" class="close">X</a>
      <div class="dupe-chat container sign-up">
        <div class="signin-form profile">
          <h3>Login</h3>

          <div class="login-form">
            <form action="#" method="post">
              <div class="form-group">
                <input type="text" name="email" placeholder="E-mail" required="">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password" required="">
              </div>
              <div class="tp">
                <input type="submit" value="LOGIN NOW">
              </div>
            </form>
          </div>
          {#<div class="header-social wthree">#}
          {#<a href="#" class="face"><h5>Facebook</h5></a>#}
          {#<a href="#" class="goog"><h5>Google+</h5></a>#}
          {#<div class="clear"></div>#}
          {#</div>#}
          {#<p><a href="#"> Don't have an account?</a></p>#}
        </div>
      </div>
      <p class="fineprint">By clicking here you submit all your information to the world including your SIN, CC, and
        Soul. <a href="webdesignerdepot.com">Webdesigner Depot</a></p>
      <p class="fineprint">DupeChat</p>
    </div>
  </div>

  <div id="openModalSignUp" class="modalbg">
    <div class="dialog">
      <a href="#close" title="Close" class="close">X</a>
      <div class="dupe-chat container sign-in ">
        <div class="signin-form profile">
          <h3>Register</h3>

          <div class="login-form">
            <form action="/" method="post">
              <div class="form-group">
                <input type="text" name="email" placeholder="E-mail" required="">
              </div>
              <div class="form-group">
                <input type="text" name="username" placeholder="Username" required="">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password" required="">
              </div>
              <div class="form-group">
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
              </div>
              <div class="form-group">
                <input type="submit" value="REGISTER">
              </div>
            </form>
          </div>
          {#<p><a href="#"> By clicking register, I agree to your terms</a></p>#}
        </div>
      </div>
      <p class="fineprint">By clicking here you submit all your information to the world including your SIN, CC, and
        Soul. <a href="webdesignerdepot.com">Webdesigner Depot</a></p>
      <p class="fineprint">DupeChat</p>
    </div>
  </div>











  {#<div class="main">#}

  {#<div class="container">#}
  {#<div class="row">#}
  {#<div class="col-sm-3">#}
  {#<div class="card" style="width: 20rem;">#}
  {#<img class="card-img-top" src="..." alt="Card image cap">#}
  {#<div class="card-body">#}
  {#<h4 class="card-title">New to the chat?</h4>#}
  {#<p class="card-text">This way to begin.</p>#}
  {#<a href="#" class="btn btn-primary">Sign Up</a>#}
  {#</div>#}
  {#</div>#}
  {#</div>#}
  {#<div class="col-sm-3">#}
  {#<div class="card" style="width: 20rem;">#}
  {#<img class="card-img-top" src="..." alt="Card image cap">#}
  {#<div class="card-body">#}
  {#<h4 class="card-title">Already a member?</h4>#}
  {#<p class="card-text">click here to begin.</p>#}
  {#<a href="#" class="btn btn-primary">Login</a>#}
  {#</div>#}
  {#</div>#}
  {#</div>#}
  {#</div>#}
  {#</div>#}



  {#<!--login-profile-->#}
  {#<!--signin-form-->#}
  {#<div class="dupe-chat container sign-up">#}
  {#<div class="signin-form profile">#}
  {#<h3>Login</h3>#}

  {#<div class="login-form">#}
  {#<form action="#" method="post">#}
  {#<input type="text" name="email" placeholder="E-mail" required="">#}
  {#<input type="password" name="password" placeholder="Password" required="">#}
  {#<div class="tp">#}
  {#<input type="submit" value="LOGIN NOW">#}
  {#</div>#}
  {#</form>#}
  {#</div>#}
  {#<div class="header-social wthree">#}
  {#<a href="#" class="face"><h5>Facebook</h5></a>#}
  {#<a href="#" class="goog"><h5>Google+</h5></a>#}
  {#<div class="clear"></div>#}
  {#</div>#}
  {#<p><a href="#"> Don't have an account?</a></p>#}
  {#</div>#}
  {#</div>#}

  {#<div class="dupe-chat container sign-in ">#}
  {#<div class="signin-form profile">#}
  {#<h3>Register</h3>#}

  {#<div class="login-form">#}
  {#<form action="/" method="post">#}
  {#<input type="text" name="email" placeholder="E-mail" required="">#}
  {#<input type="text" name="username" placeholder="Username" required="">#}
  {#<input type="password" name="password" placeholder="Password" required="">#}
  {#<input type="password" name="passwordConf" placeholder="Confirm Password" required="">#}
  {#<input type="submit" value="REGISTER">#}
  {#</form>#}
  {#</div>#}
  {#<p><a href="#"> By clicking register, I agree to your terms</a></p>#}
  {#</div>#}
  {#</div>#}
  {#<div class="clear"></div>#}
  {#<!--//signin-form-->#}
  {#</div>#}



  {#Add Scripts#}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    $(function () {
      var socket = io();
    });
  </script>
{% endblock %}
