<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/color_scheme.css' />
    <link rel='stylesheet' href='/stylesheets/framework.css' />
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.css' />
    <link rel='stylesheet' href='/stylesheets/modal.css' />

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>

  <script src="/javascripts/modal.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/sidebar.js"></script>

</html>
