body {
  background: #464646;
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 5px; }

.chat-container-inner {
  height: 100%;
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px; }

.chat-container-form {
  height: 50px; }

.chatperson {
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 4px; }
  .chatperson:hover {
    text-decoration: none;
    border-bottom: 1px solid orange; }

.namechat {
  display: inline-block;
  vertical-align: middle; }

.chatperson .chatimg img {
  width: 40px;
  height: 40px;
  background-image: url("http://i.imgur.com/JqEuJ6t.png"); }

.chatperson .pname {
  font-size: 18px;
  padding-left: 5px; }

.chatperson .lastmsg {
  font-size: 12px;
  padding-left: 5px;
  color: #ccc; }

.side-bar {
  padding-top: 15px; }

#contact-list {
  padding-top: 15px; }

/*# sourceMappingURL=chat.css.map */