/*
Color template
BG = #170312
FG = #403F4C
text = #E8F7EE
Link = #F2F4F3
LinkHover = #33032F


*/


body{
  background-color: #170312!important;
}

.chat-container-inner{
  background-color: #403F4C;
}

.chat-window {
  background-color: #170312;
}

.chatbody{
  color: #E8F7EE;
}
.side-bar {
  background-color: #403F4C;
}
.side-bar > .nav-tabs .active {
  background-color: #403F4C!important;
}
 a {
  color: #F2F4F3!important;
}
 a:hover {
  color: #33032F!important;
}