.fh{
  height: 100%!important;
}
.fhwmb{
  height: 90%!important;
}
.dib{
  display: block;
}


/*
  Chat window framework
*/
.chat-window {
  height: 100%;
  overflow-y: scroll;
}
.chat-container-form {
  position: fixed!important;
  bottom: 15px;
  right: 0;
  width: 100%;
  padding: 0 15px 0 15px;
}
