body.intro {
  background: url("../images/intro-bg.jpg") no-repeat center scroll!important;
  background-color: black!important;
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}