body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.hidden
  display: none

.message-bubble
  padding: 10px 0px 10px 0px
  &.them
    background-color: #F5F5F5

> *
  padding-left: 10px


.panel-body
  padding: 0px


.panel-heading
  background-color: #3d6da7 !important
  color: white !important
